html,
body {
    margin: 0;
    height: 100%;
}

#openSeadragon {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url("../images/gif/loading.gif") no-repeat center center rgba(0, 0, 0, 0.25)
}